@import "../../../../../scss/variables";

.navbarBgColor {
    //background-color: transparent !important;
    background-color: #17222D !important;
    backdrop-filter: grayscale(1);
    opacity: 0.9;
    color: #FFFFFF !important;
}

.arLinkStyle {
    position: relative;
    color: #FFFFFF;
    &:before {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        content: "";
        z-index: 1;
        background-color: #B09867;
        transition: width 0.3s ease-in-out;
    }

    &:hover {
        transition: width 0.3s ease-in-out;
        width: 100%;
        color: #B09867;
        &:before {
            width: 100%;
            transition: width 0.3s ease-in-out;
        }
    }
}

.enLinkStyle {
    position: relative;
    color: #FFFFFF;
    &:before {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        content: "";
        z-index: 1;
        background-color: #B09867;
        transition: width 0.3s ease-in-out;
    }

    &:hover {
        transition: width 0.3s ease-in-out;
        width: 100%;
        color: #B09867;
        &:before {
            width: 100%;
            transition: width 0.3s ease-in-out;
        }
    }
}

.socialLink {
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    &:hover {
        color: #B09867;
        transform: scale(1.05);
        transition: transform 0.3s ease-in-out;
    }
}

.marginAuto {
  margin-left: auto !important;
    margin-right: auto !important;
}

.padding0 {
    //padding: 0 !important;
}
