@import "../../../../../scss/variables";

.navbarBgColor {
    //background-color: transparent !important;
    background-color: #17222D !important;
    color: #FFFFFF !important;
}

.bgColor {
    background-color: $bgColor !important;
}
